@model IEnumerable<PontoColeta.Models.Coordinates>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeLugar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string latitude = "";
            string longitude = "";
            string srcMap = "https://www.google.com/maps/embed/v1/place?key=AIzaSyA4wtQbEH2w7WfoP77uCLK-Ips2f8ji6bU&q=";

            if (item.NomeLugar.Length > 0)
            {
                string lugar = item.NomeLugar.Replace(" ", "+");
                srcMap = srcMap + lugar;
            }
            else
                srcMap = srcMap + latitude.ToString() + ',' + longitude.ToString();
            
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Longitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Longitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeLugar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Items.IdItem)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdCoordinates">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdCoordinates">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdCoordinates">Delete</a>
                </td>
                <td>
                    <div>
                        <iframe width="450"
                                height="250"
                                frameborder="0"
                                style="border:0"
                                src=@srcMap allowfullscreen>
                        </iframe>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
